/* SectionTitle component styles */

.sectionTitle {
  /* TODO: spacing and typography for section headings */
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.subtitle {
}

.title {
}

