/* Button component styles */

.button {
  /* TODO: add base button styles (padding, border-radius, etc.) */
}

.primary {
  /* TODO: primary button colors */
}

.secondary {
  /* TODO: secondary button colors */
}

